@page "/filetest"
@*//@using Blazor.DownloadFileFast.Interfaces*@
@using System.Text
@using Blazorise
@*@inject Blazored.LocalStorage.ILocalStorageService localStorage*@
@*@inject IBlazorDownloadFileService BlazorDownloadFileService*@

<h3>FileTest</h3>

<FilePicker Upload="OnFileUpload" ShowMode="FilePickerShowMode.Dropdown" />
<button class="btn btn-primary" @onclick="IncrementCount">Save</button>
<button class="btn btn-primary" @onclick="ShowFileModal">Popup</button>

<LocalEdit.Modals.FileManagementModal  @ref="fileManagementModalRef" Closed="@OnFileManagementModalClosed"></LocalEdit.Modals.FileManagementModal>
@code {

}
