@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

This app will utilize <br />
<ul>
<li>Blazorise</li>
<li>Bootstrap 5 Framework (via Blazorise.Bootstrap5)</li>
<li>Blazorise.TreeView</li>
<li>Blazored.LocalStorage</li>
<li>Blazor.DownloadFileFast</li>
<li>MermaidJS.Blazor</li>
</ul>

@*// https://github.com/StardustDL/RazorComponents.Markdown
builder.Services.AddModules(builder =>
{
    builder.UseRazorComponentClientModules().AddMarkdownModule();
});

builder.Services.AddTransient(sp => new HttpClient { BaseAddress = new Uri(builder.HostEnvironment.BaseAddress) });

// https://github.com/StefH/Blazor.DownloadFileFast
builder.Services.AddBlazorDownloadFile();
*@

Try not to mix in anything else.  If you do, include it above<br />

<h2>Theming</h2>
See https://blazorise.com/docs/theming for details<br />

<Blazorise.Bootstrap5.Button Clicked="@(()=>OnThemeColorChanged("#00ff00"))">Change theme</Blazorise.Bootstrap5.Button>

@code{
    Task OnThemeColorChanged( string value )
    {
        if ( Theme?.ColorOptions != null )
            Theme.ColorOptions.Primary = value;

        if ( Theme?.BackgroundOptions != null )
            Theme.BackgroundOptions.Primary = value;

        if (Theme?.BodyOptions != null)
            Theme.BodyOptions.BackgroundColor = "#0000FF";

        Theme.ThemeHasChanged();

        return Task.CompletedTask;
    }

    [CascadingParameter] Theme Theme { get; set; }
}